// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #d0021b;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: 0;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  padding: 10px 0;
  margin: 50px auto;
  display: inline;
  cursor: pointer;
}

button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

button:active {
  transform: translateY(1px);
}

input {
  margin: 8px 0;
  padding: 12px 20px;
}

table {
  border: 1;
}

td.hover-delete:hover {
  text-decoration: line-through;
  color: red;
  cursor: pointer;
}

span.hover-delete:hover {
  text-decoration: line-through;
  color: red;
  cursor: pointer;
}

.edit {
  color: blue;
  background: #1a1a1a;
}

.delete {
  color: red;
  background: #1a1a1a;
}

.validationMsg {
  font-style: italic;
}

.validationHello {
  color: blue;
}

.validationError {
  color: red;
  font-weight: bold;
}

.validationSuccess {
  color: green;
}

.completed {
  color: grey;
}

/* The below are not used*/


.avatar {
  width: 150px;
  border-radius: 50%;
}

.space-list-items {
  margin-bottom: 7px;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.active {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 20%;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}